<div class="column card is-one-quarter has-background-link">
  <h1 class="title"><%= movie.title %></h1>
  <% if movie.image.present? %>
    <%= image_tag movie.image %>
  <% end %>
  <p><%= movie.director%></p>
  <p><%= movie.description%></p>

  <%= form_with url: cart_index_path do %>
    <%= hidden_field_tag(:id, movie.id)%>
    <%= button_tag 'Add To Cart' %>
  <% end %>
</div>