<div class="column card is-one-quarter has-background-link">
  <h1 class="title"><%= @movie.title %></h1>
  <div class="level">
      <div class="level-left">
        <% if @movie.image.present? %>
          <%= image_tag @movie.image %>
        <% end %>
      </div>

      <div class="level-right level-item level">
        <div class="level ">
          <p><%= @movie.director%></p>
        </div>
        <div class="level">
          <p><%= @movie.description%></p>
        </div>
        <div class="level">
          <% if cart.include?(@movie) %>
            <%= button_to cart_path(@movie), method: :delete do %>
              Remove From Cart
            <% end %>
          <% else %>
            <%= form_with url: cart_index_path do %>
              <%= hidden_field_tag(:id, @movie.id)%>
              <%= button_tag 'Add To Cart' %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>