<div id="userCard" class="container">
  <h1 class="title has-text-centered"><%= @user.email%></h1>
  <h1 class="has-text-centered"><%= @user.first_name%></h1>
  <h1 class="has-text-centered"><%= @user.last_name%></h1>
  <h1 class="has-text-centered"><%= @user.address%></h1>
  <h1 class="has-text-centered"><%= @user.age%></h1>
  <h1 class="has-text-centered"><%= @user.province.name%></h1>
  <a href="<%= edit_user_registration_path %>">
    <h1 class="has-text-centered">Edit Profile</h1>
  </a>
</div>