<!DOCTYPE html>
<html>
  <head>
    <title>HardCopy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/movies">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Genres
          </a>

          <div class="navbar-dropdown">
            <% Genre.all.each do | genre |%>
              <%= link_to genre.title, movies_show_movies_of_genre_path(:title => genre.title), :class=>"navbar-item"%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          <% if user_signed_in? %>
            <% if cart.present? %>
              <a class="button is-dark" href="/cart/show">
                <strong>Cart (<%=cart.size %>)</strong>
              </a>
            <% end %>
            <a class="button is-primary" href="/users/show">
              <strong>View Profile</strong>
            </a>
            <a class="button is-light" data-method="delete" href="<%= destroy_user_session_path %>">
              <strong>Sign Out</strong>
            </a>
          <% else %>
            <a class="button is-primary" href="<%= new_user_registration_path %>">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="<%= new_user_session_path %>">
              Log in
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= debug session[:cart]%>
    <%= yield %>
  </body>
</html>
